@font-face {
    font-family: "MetaOT";
    font-style: normal;
    font-weight: normal;
    /*src: url("ss-pika.eot?#iefix") format("embedded-opentype"), url("ss-pika.woff") format("woff"), url("ss-pika.ttf") format("truetype"), url("ss-pika.svg#SSPika") format("svg");
   */
    src: url("MetaOT-Book.otf") format("otf");
}    
@font-face {
    font-family: "SSpika";
    font-style: italic;
    font-weight: bold;
    /*src: url("ss-pika.eot?#iefix") format("embedded-opentype"), url("ss-pika.woff") format("woff"), url("ss-pika.ttf") format("truetype"), url("ss-pika.svg#SSPika") format("svg");
   */
    src: url("MetaOT-BoldIta.otf") format("otf");
}  

.ui-li-message-left, .ui-li-message-right  {
    margin: 0 25px 0 10px;
    overflow: visible;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.ui-li-message-right{
    margin: 0 10px 0 25px;    
}

.ui-li-left {
    float: left;
    margin: 0;
}
.ui-li-right {
    float: right;
    margin: 0;
}
#chatHistory li {
    margin: 0;
    padding: 0;
    min-height: 25px;
}

.ui-li-left .ui-li-profil-icon, .ui-li-right .ui-li-profil-icon {
    height: 20px;
    width: 20px;
}
.ui-li-message-time {
    color: #CCCCCC;
    margin: 9px 0 0;
    padding: 0 0 5px;
    text-align: center;
}
